@import '../styles/variables/variables.scss';

#login-layout {
    display: grid;
    grid-template-columns: 45% 55%;
    min-height: 100vh;
}

#layout-first {
    background-color: $primary-red;
    background-image: url('../images/login-layout-img.jpg');
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align: center;
    display: block;
}

#layout-first h1 {
    font-size: 3rem;
    color: $white;
    letter-spacing: 5px;
}

.layout-form {
    background-color: $light-gray;
    text-align: center;
    margin: auto;
    word-spacing: auto;
    letter-spacing: 2px;
}


.login-form-container {

    .login-form-container h2 {
        font-size: 2em;
        margin-bottom: 0;
        padding-bottom: 0;
        color: $black;
    }

    .login-form-container p {
        padding: 0;
        margin-top: 0;
        margin-bottom: 3rem;
        font-size: 100%;
    }

    .login-form {
        text-align: left;
        align-items: center;
    }

    .login-input {
        width: 23rem;
        padding: .3rem 1rem;
        border: solid 1px;
        border-radius: 5px;
        font-size: 100%;
        border: solid #7a7f98;
    }

    .labels {
        letter-spacing: auto;
        font-weight: bold;
        color: #515151;
    }

    .login {
        width: 23rem;
        background-color: $primary-red;
        font-size: 1.1rem;
        font-weight: bold;
        color: $white;
        border: none;
        cursor: pointer;
    }

    .text-red {
        color: $primary-red;
    }

    .links:hover {
        text-decoration: underline;
    }
}

@media (max-width: 700px) {

    #login-layout {
        display: block !important;
    }

    .layout-form {
        margin-top: 4rem;
        padding-top: 4rem;
    }

    .login-form {
        text-align: center !important;
    }

    label {
        display: none;
    }

    input {
        margin-bottom: 0;
    }

    .login {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}
