@import '../styles/variables/variables.scss';

.Register {
    font-family: $medER-font;
}

.text-red {
    color: $primary-red;
}

#register-layout {
    display: grid;
    grid-template-columns: 45% 55%;
    min-height: 100vh;
}

#register-layout-first {
    background-color: $primary-red;
    background-image: url('../images/login-layout-img.jpg');
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align: center;
    display: block;
}

#register-layout-first h1 {
    font-size: 3rem;
    color: $white;
    letter-spacing: 5px;
}
#register-layout-form h2 {
    color: $black;
    font-size: 1.7rem;
}

#register-layout-form {
    background-color: $light-gray;
    text-align: center;
    margin: auto;
    word-spacing: auto;
    letter-spacing: 2px;
    letter-spacing: -.1px;
}

#register-form p {
    letter-spacing: -.1px;
    padding-top: 0;
    padding-bottom: 1.5rem;
    margin-top: 0;
}

#register_form {
    text-align: left;
    color: #515151;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#register_form input {
    border: solid #7a7f98;
    padding: .3rem 1rem;
    width: 23rem;
    font-size: 100%;
}

#register_form label {
    font-weight: bold;
}

#register_submit {
    width: 24rem;
    background-color: $primary-red;
    font-weight: bold;
    color: $white;
    border: none !important;
    cursor: pointer;
}

.register_submit:hover {
    background-color: $buttonHovers;
}

.register-layout-form-div {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}


@media (max-width:1129px) {
    #register_form {
        padding-left: 7rem;
        padding-right: 2rem;
    }
}

@media (max-width:880px) {
    #register-layout {
        display: block;
    }

    #register_form {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}


@media (max-width:605px) {
    #register-layout {
        display: block;
    }

    #register_form {
        padding-left: 5rem;
        padding-right: 5rem;
        text-align: center;
    }
}

@media (max-width:414px) {
    #register-layout {
        display: block;
    }

    #register_form {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    #register-form p {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 100%;
    }

    #register_form input {
        width: 19rem;
        font-size: 100%;
    }

    input#register_submit {
        width: 19rem;
        height: 2.7rem;
    }
}

@media (max-width:375px) {
    #register_form {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

