.home-page {

    .img-bg {
        border: 1px soild red;
        display: flex;
        flex-direction: column;
        background-image: url('../../images/emergency7.jpeg');
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: 80%;
        background-position: center;
        margin: 30px auto;
        text-align: center;
        justify-content: center;
        width: 100%;

        // .img-em {
        //     display: block;
        //     border: 1px solid red;
        //     object-fit: cover;
        //     z-index: 1;
        //     width: 90%;
        //     height: auto;
        //     position: relative;
        // }

        h3 {
            font-size: 1.5em;
            text-align: center;
            font-family: "Catamaran", sans-serif;
            z-index: 3;
        }

        .article {
            height: 350px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            width: 100%;
            

            .form-btn {
                padding: 25px;
                margin: 0 auto;
                text-align: center;
                justify-content: center;
                width: 50%;

                h2 {
                    font-size: 22px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;

                    button {
                        padding: 10px 18px;
                        margin: 10px;
                        width: 100%;
                        font-weight: bold;
                        letter-spacing: 4px;
                        font-family: 'Catamaran', 'sans-serif';
                        color: transparent;
                        border: none;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            cursor: pointer;
                        }

                        &#response {
                            background-color: #BD2323;
                            color: #f5f6fc;
                            border-radius: 20px;
                            font-weight: 500;

                            &:hover {
                                color: #FE0E29;
                                background-color: transparent;
                                border: 1px solid #FE0E29;
                                font-weight: bold
                            }
                        }

                        &#first-aid {
                            background-color: #050a30;
                            color: #f5f6fc;
                            border-radius: 20px;
                            font-weight: 500;

                            &:hover {
                                color: #050a30;
                                background-color: transparent;
                                border: 1px solid #050a30;
                                font-weight: bolder
                            }
                        }
                        
                        &#track {
                            background-color: rgb(223, 187, 140);
                            color: #f5f6fc;
                            border-radius: 20px;
                            font-weight: 500;

                            &:hover {
                                color: #050a30;
                                background-color: transparent;
                                border: 1px solid rgb(223, 187, 140);
                                font-weight: bolder;
                            }
                        }
                    }
                }

            }
        
        }
    }

    .sub-cat {
        height: 600px;

        .image {
            width: 38%;
        }

    }


       .article {
        display: flex;
        // gap: 20;

        #about {
            text-align: center;
        }
       }
    }

//     .text-zone {
//         position: absolute
//     }

//     img {
//         width: 50%;
//     }



// @keyframes slidein {
//     from {
//         margin-right: 100%;
//         width: 300%;
//     }
//     to {
//         margin-right: 0%;
//         width: 100%;
//     }
// }
